
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Ancizar Serif", serif;
}


/* first section */
.first-section
{
    background-image: url(./image/leaf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
    transition: 0.3s ease;
    min-height: 17vh;
    
}
.first-section:hover
{
    transform: scale(1.04);
    color: #a1eebe;
}
.first-section h2{
    color:#3dc1d3;
    font-size: 40px;
    margin: 10px;
    font-weight: 600;
}
/* global section */
.global-section 
{
    background-color: #b0f9eb;
    min-height: 500px;
    padding: 1rem 2rem;
    padding-bottom: 1rem; transition: 0.3s ease;
}
.global-section:hover
{
    transform: scale(1.04);
    background-color: #a1eebe;
}
.global-heading
{
    font-size: 30px;
    text-align: center;
}
.global-heading-p
{
    font-size: 15px;
    text-align: center;
}
.grid-container
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 30px;
    margin: 20px;
    margin-bottom: 0px;
}
.grid-single-item
{
    /* background-color: #f3a683; */
    background-color: #80f6cf;
    padding: 50px;
    text-align: center;
    margin-bottom: 30px;
    transition: 0.3s ease;
}
.grid-single-item:hover
{
    background-color:#ffeaa7;
    transform: scale(1.02); 
    border-radius: 5px;
}
.grid-single-item a
{
    color: rgb(17, 18, 8);
    text-decoration: none;
    transition: 0.3s;
    
}
.grid-single-item a:hover
{
    background-color: #c92450;
    color: rgb(239, 239, 6);

}
.grid-single-item img
{
    /* margin-bottom: 15px; */
    height: 150px;
    width: 200px;
    border-radius: 10%;

}
.grid-single-item p
{
    color: #090a09;
   
}
/* second section */


.global-heading1
{
    font-size: 30px;
    text-align: center;
    color: rgb(154, 39, 154);
}
.global-heading-p
{
    font-size: 15px;
    text-align: center;
}

.img
{
 
 height: 100px;
 width: 100px;
 border-radius: 10%;
}
.summer-tratement-precaution
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
     
}
.summer-precaution
{
    padding: 1rem 2rem;
    background-color: #eae4c5;
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(./image/nature.jpg); */
    max-width: 300px;
    flex: 1 1 200px;
    transition: 0.3s ease;
}
.summer-precaution:hover {
  background-color: C;
  transform: scale(1.02); 
  box-shadow: 2px solid  #2467f7;
}

.summer-tratement-precaution a
{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}
.summer-tratement-precaution p
{
    color: #ef098b;
}
.summer-tratement-precaution a:hover{
    background-color: #3fe61e;
}
/* winter */
.Winter-tratement-precaution
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

     
}
.global-section1
{
    background-color: #f3caa1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 20px;
    text-align: center;
    min-height: 600px;
    /* height: 400px; */
    /* background-image: url(image/summer_nature.jpg); */
    transition: 0.3s ease;
}
.global-section1:hover,.global-section2:hover, .global-section3:hover
{
    background-color: #a1eebe;
    transform: scale(1.04);
    background-color: #fdcb6e;
}
.global-section1:hover
{
     background-color: #f6d8a2;
}
.global-section1 h2:hover,.global-section2 h2:hover
{
    color: #12b812;
}
.Winter-precaution
{
     padding: 1rem 2rem;
    background-color:#81ecec;
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(./image/nature.jpg); */
    max-width: 300px;
    flex: 1 1 200px;
    transition: 0.3s ease;
}
.Winter-precaution:hover {
  background-color: #f3caa1;
  transform: scale(1.02); 
  box-shadow: 2px solid  #2467f7;
}
.Winter-tratement-precaution a
{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}
.Winter-tratement-precaution p
{
    color: #ef098b;
}
.Winter-tratement-precaution a:hover{
    background-color: #3fe61e;
}
.global-section2
{
    background-color:#81ecec;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 20px;
    text-align: center;
    min-height: 600px;
    /* height: 400px; */
    background-image: url(image/summer_f.jpg);
    transition: 0.3s ease;
}

/* monsoon */

.global-section3
{
   background-color:#81ecec;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 20px;
    text-align: center;
    min-height: 600px;
    /* height: 400px; */
    background-image: url(image/raindrops2.jpg);
    transition: 0.3s ease;
    
}
.global-heading1
{
    font-size: 30px;
    text-align: center;
    color: rgb(154, 39, 154);
}
.global-heading-p
{
    font-size: 15px;
    text-align: center;
}

.img
{
 
 height: 100px;
 width: 100px;
 border-radius: 10%;
}
.Monsoon-tratement-precaution
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

     
}
.Monsoon-precaution
{
     padding: 1rem 2rem;
    background-color:#CAD3C8;
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(./image/nature.jpg); */
    max-width: 300px;
    flex: 1 1 200px;
    transition: 0.3s ease;
}
.Monsoon-precaution:hover {
  background-color: #f3caa1;
  transform: scale(1.02); 
  box-shadow: 2px solid  #2467f7;
}
.heading-monsoon
{
    color: black;
    text-align: center;
}
/* xxxx */

.Monsoon-precaution a
{
    color: rgb(17, 18, 8);
    text-decoration: none;
    transition: 0.3s;
    
}
.Monsoon-precaution a:hover
{
    color:violet ;
}
#p
{
    color: #090a09;
}
/* food habits */

.global-section4
{
    padding-top: 10px;
background-color:#96f1eb;
    min-height: 400px;
    /* background-image: url(image/fruits.jpg); */
    /* background-color: antiquewhite; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 20px;
    text-align: center;
    min-height: 600px;
    /* height: 400px; */
    /* background-image: url(image/summer_nature.jpg); */
    transition: 0.3s ease;
}
.global-section4:hover
{
 transform: scale(1.03);
 background-color: #a0f8fa;
 
}
.global-heading
{
    font-size: 30px;
    text-align: center;
}
.global-heading-p
{
    font-size: 15px;
    text-align: center;
}
.grid-container4
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 30px;
    margin: 20px;
    margin-bottom: 0px;
}


.grid-single-item4
{
    /* background-color: #f3a683; */
    background-color: #eae4c5;
    
    padding: 50px;
    text-align: center;
    margin-bottom: 30px;
    transition: 0.3s ease;
    
}
.grid-single-item4 img
{
    /* margin-bottom: 15px; */
    height: 150px;
    width: 200px;
    border-radius: 10%;

}
.grid-single-item4 a
{
    color: rgb(17, 18, 8);
    text-decoration: none;
    transition: 0.3s;
    
}
.grid-single-item4 p
{
    color: #090a09;
   
}

.grid-single-item4:hover
{
    background-color:#a8fce0;;
    transform: scale(1.05);
}

.grid-single-item4 a:hover
{
    background-color: #c92450;
    color: rgb(6, 122, 239);

}
/* contact us */

.contact-heading

{
    font-size: 55px;
    text-align: center;

}
form
{
    margin: 0 auto;
    padding: 30px;
    width: 90%;
    
}
form input{

    width: 252px;
}
.submit-btn
{
    width: 150px;
    height: 25px;
    color: rgb(226, 224, 224);
    background-color: black;
    margin-left: 30px;
    padding-bottom: 20px;

}

/* footer */
.footer
{
    padding-top: 50px;
    background-color: #786fa6;
    color: aliceblue;
    height: 100px;
    text-align: center;
}
html
{
    scroll-behavior: smooth;
}

/* for small screen */
@media(max-width:768px) {
    /* #main-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center

    }; */
    h2{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    };
    .img
    {
        height: 80px;
        width: 80px;
        display: block;
        margin: 0 auto;
        border-radius: 10%;
    }

    
}

/* register and comment page */
.global-section5
{
    display: flex;
    justify-content: center;
    min-height: 200px;
    
    align-items: center;
    background: url(./image/summer_nature.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1rem;
}
.wrapper
{
    min-height: 300px;
    width: 420px;
    background-color: transparent;
    color: azure;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgb(180, 118, 175);
    backdrop-filter: blur(30px);
}
.wrapper h1
{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box
{
    width: 100%;
   min-height: 50px;
    position: relative;
    margin: 30px 0;
}
.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid bisque;
    border-radius: 40px;
    font-size: 16px;
    color: #fff ;
    padding: 20px;

}
.input-box input::placeholder
{
    color: #fff;
}
.input-box i
{
    position: absolute;
    right: 20px;
    top: 50%;
    margin-right: -10px;
    margin-top: -10px;
    font-size: 20px;
    
}
.wrapper .remember-forgot
{
 display: flex;
 justify-content: space-between;
 font-size: 14.5px;
 margin: 15px ;
 margin-left: 0px;
 
}
 .remember-forgot label input
 {
    accent-color: #19c25c;
    margin-right: 3px;
 }
  .remember-forgot a
  {
    text-decoration: none;
    color: #fff;
  }
  .remember-forgot a:hover
  {
    color: antiquewhite;
    text-decoration: underline;
  }
  .wrapper .btn
  {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 39px;
    box-shadow: #19c25c;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 750;
  }
  .wrapper .register-link
  {
    font-size: 14.5px;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }
   .register-link a{
    text-decoration: none;
    color: #fff;
    font-weight: 600px;
   }
   .register-link a:hover
   {
    text-decoration: underline;
   }

@media (max-width: 768px) {
  #main-menu {
    background-color: black;
    padding: 10px 0;
    min-height: 15vh;
  }

  
}


/* ... */
nav
{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo
{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;

}
nav ul
{
    float: right;
    margin-right: 20px;

}
nav ul li
{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}
nav ul li a
{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.active, a:hover
{
    background: #1b9bff;
    transition: 0.55s;
}
.checkbtn
{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check
{
    display: none;
}
@media (max-width: 952px)
{
    label.logo
    {
        font-size: 20px;
        padding-left: 50px;

    }
    nav ul li a
    {
        font-size: 16px;
    }
}
@media (max-width: 858px)
{
    .checkbtn{
        display: block;
    }
    ul
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        
    }
    nav ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a
    {
        font-size: 20px;
    }
    a.active, a:hover
    {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ul
    {
        left: 0;

    }
}
